@{
    ViewBag.Title = "MovieDetails";
}
@Styles.Render("~/Content/mojCss")

<script src="~/Scripts/app2.js"></script>

<input type="hidden" id="hdn_IDMovie" value="@ViewBag.hdn" />
<input type="hidden" id="hdn_IDzanra" value="@ViewBag.zanr" />
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 class="text-center">@ViewBag.film.Naziv_Filma</h2>
            <div class="text-justify"> @ViewBag.film.Opis_Filma</div>
            
        </div>
        <div class="col-md-4">
            <h2 class="text-left">&nbsp; &nbsp;Recommended</h2>
            <h4>&nbsp; &nbsp;&nbsp;&nbsp;[measures of similarity]</h4>
            @if (@ViewBag.top10Lista != null)
            {
                <ul>
                    @foreach (var item in ViewBag.top10Lista)
                    {
                        <li><a href="/Home/MovieDetails?i=@item.ID_Filma"> @item.Naziv_Filma [@item.LemmaPlots]</a></li>

                    }
                </ul>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 text-justify">                  
            <br />
            <br />
            <a href="/Home/Index" class="btn btn-default">
                <span class="glyphicon glyphicon-hand-left"></span> Back to search
            </a>
            <button class="btn btn-primary" type="button" id="btn_like">
                Like <span class="badge" id="numLikes">@ViewBag.likes</span>
            </button>
        </div> 
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="list-group">
                <a id="list_horror" style="cursor:pointer" class="list-group-item">
                    <h5 class="list-group-item-heading">Drama</h5>
                    <p class="list-group-item-text">Best drama movies</p>
                </a>
                <a id="list_triler" style="cursor:pointer" class="list-group-item">
                    <h5 class="list-group-item-heading">Thriller </h5>
                    <p class="list-group-item-text">Best thriller  movies</p>
                </a>
                <a id="list_commedy" style="cursor:pointer" class="list-group-item">
                    <h5 class="list-group-item-heading">Commedy</h5>
                    <p class="list-group-item-text">Best commedy movies</p>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Movie list sorted by number of likes</h4>
            </div>
            <div class="modal-body" id="modal_body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
